.center-container {
    border-radius: 10px;
    width: 500px;
}

.task-container {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.task-container a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}